.account-main-container {
    display: flex;
    margin-left: 330px;
}

.account-dashboard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
  }


.account-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    /* width: 900px; You can change this */
    z-index: 1001; /* higher than other z-index values in your layout */
  
  
  }
  

.manage-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    max-width: 600px;
    font-family: Arial, sans-serif;
    margin-top: 80px;
}

@media screen and (max-width: 1000px) {
    .manage-container {
        margin-left: 0;
    }
}

.manage-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.manage-plan-detail {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
    width: 350px;
}

.manage-button {
    background-color: #4CAF50;
    color: white;
    padding: 0.7rem;
    margin: 1rem 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.manage-button:hover {
    background-color: #45a049;
}

.manage-cancel-button {
    color: #ff4d4d;
    padding: 0.7rem;
    margin: 0.3rem 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.manage-cancel-button:hover {
    background-color: #cc0000;
}
