# Configuration and environment files
.env
cors.json

# Version control
.git/
.gitignore

# Documentation and readmes
README.md

# Node/npm files (These will be handled by the Docker COPY instruction for frontend specifically)
node_modules/
npm-debug.log

#other
openapi-run.yaml