# Configuration and environment files
.env
cors.json
mimicspeech-97598c7b85ca.json
mimicspeech-firebase-adminsdk-015fy-f9b7431afe.json

# Version control
.git/
.gitignore

# Documentation and readmes
README.md

# Node/npm files (These will be handled by the Docker COPY instruction for frontend specifically)
node_modules/
npm-debug.log
