.dashboard {
  display: flex;
  z-index: 5000;
  /* background: linear-gradient(to right, lightblue, lightpink); */
}

.sidebar-wrapper {
  position: fixed; /* Make it fixed */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  /* background-color: #f4f4f4; */
  background-color: #00766E;

  padding: 40px;
  width: 290px;
  z-index: 1000; /* Optional: to ensure it stays on top of other content */
  box-shadow: #ffffff 0px 0px 10px 0px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #00766E !important;
  color: #eee !important;
}

.sidebar-with-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(183, 214, 214);
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: rgb(18, 18, 18);
  padding: 20px;
  color: #fff;
  border-radius: 25px;
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .sidebar-wrapper {
    display: none;
  }
  .main-content {
    width: 100% !important;
    height: 100vh;
    margin-left: 0 !important;
  }
}

.sidebar button {
  width: 100%;
  padding-top: 40px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid #eee;
  color: #eee;
}

.sidebar button:last-child {
  padding-bottom: 20px;
  border-bottom: none;
}

.sidebar button:hover {
  color: #4388ff;
}

.main-content {
  margin-left: 330px; /* Add left margin equal to the width of the sidebar */

  width: 100%;
}

.dashboard-body {
  /* background-color: #fff; */
  display: flex;
  top: 30;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* background-color: #4caf50; */
  padding: 20px;
}

.dashboard-body h1 {
  font-size: 48px;
  font-weight: 600;
  color: #0b132b;
}

.dashboard-body-buttons {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 62%;
  height: 100px;
  gap: 20px;

  max-width: 600px;
}

.dashboard-footer-button {
  width: 100% !important;
  padding: 10px !important;
  margin: 25px 0 25px 0 !important;
  background: white !important;
  cursor: pointer !important;
  text-align: center !important ;
  border-radius: 16px !important;
}

.dashboard-nav-button {
  width: 100% !important;
  height: 100% !important;
  padding: 10px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  background: none;
  cursor: pointer;
  text-align: center !important;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
  background-color: #fff;
}

.dashboard-nav-button:hover {
  color: #4388ff;
  background-color: pink;
}

.ai-nav-button {
  width: 98%;
  height: 300px;
  margin: 10px 10px 20px 0px;
  background: none;
  cursor: pointer;
  border-radius: 16px;
  text-align: center;
  background-color: transparent;
  color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .4) !important;
  outline: none;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: #00766E 3px solid;
;
}

.ai-nav-button-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  position: absolute;
  top: 62.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* max-width: 500px; */
}

.inner-button-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.inner-button-text-text {
  font-size: 42px !important;
  font-weight: 500 !important;
  color: #fff !important;
}

@media screen and (max-width: 1000px) {
  .inner-button-text-text {
    font-size: 28px !important;
    font-weight: 600;
    color: #fff !important;
  }
}

.inner-button {
  padding: 16px 32px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.inner-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.how-to-button {
  background-color: #f9f9f9; /* A shade of informational blue */
  color: #333;
}

.how-to-button:hover {
  background-color: #ffe0e0; /* A darker shade for hover */
}

.start-button {
  background-color: #00bfb3;
  color: white;
}

.start-button:hover {
  background-color: #00958b;
}

.ai-nav-button::before {
  content: "";
  position: absolute; /* Absolute positioning */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    rgba(58, 80, 107, 0.35),
     rgba(58, 80, 107, 0.35)
  ); 
  border-radius: 16px;
  z-index: 1; /* Make sure the gradient is above the image */
}

.ai-nav-button:hover::before {
  background: linear-gradient(rgba(58, 80, 107, 0.3), rgba(58, 80, 107, 0.3));
  z-index: 1;
}

.ai-nav-button img {
  width: 100%;
  height: 100%;
  scale: 1.02;
  position: relative;
  border-radius: 8px;
  z-index: 0;
  object-fit: cover;
  transition: transform 0.7s;
  margin: 0;
}

.ai-nav-button:hover img {
  transform: scale(1.2);
}

.ai-nav-button:hover {
  background: none;
}

.ai-nav-button.clicked {
  animation: growAndFade 1s ease-in-out forwards;
  z-index: 999999;
}

.ai-nav-button.clicked::before {
  background: linear-gradient(rgba(249, 249, 249, 0.9));
}

/* @keyframes growAndFade {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: .6;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: .1;
    transform: scale(20);
  }
} */
@keyframes growAndFade {
  0% {
    opacity: 0.4;
    transform: scale(1);
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.9;
    transform: scale(5);
  }
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #4caf50; */
}

.dashboard-selectors {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  z-index: 3;
}

.dashboard-language-selector {
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 290px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* curve the edges */
  border-radius: 16px;
  /* add a bigger shadow */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  background-color: none;
}

@media (max-width: 1200px) {
  .dashboard-language-selector {
    width: 70%;
  }
  /* .dashboard-body-buttons {
    flex-direction: column;
    align-items: stretch;
  } */
  .dashboard-nav-button,
  .ai-nav-button {
    width: 100%;
  }
  .dashboard-header {
    margin-bottom: 70px;
  }
  .dashboard-body-buttons {
    width: 100%;
  }
}

.dashboard-popup {
  position: relative;
  top: 20px;
  right: 20px;
  /* width: 900px; You can change this */
  z-index: 1001; /* higher than other z-index values in your layout */
  margin-bottom: 40px;
}
