.dash-container {
  padding: 20px 20px 20px 20px;
}

.prompt-dash-box {
  background: linear-gradient(
    to bottom right,
    #f7f9fc,
    #eaf1f9
  ); /* Light blue and white gradient */
  color: #333;
  padding: 40px 20px 20px 20px;
  border-radius: 12px; /* More rounded corners */
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  height: auto;
  margin-bottom: 20px;
  border: 4px solid #cfd8dd; /* Light gray border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
   /* height: 140px; */

}

.height-120 {
    height: 172px !important;
}
  
  .height-100 {
    height: 152px !important;
}

.dash-prompt {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.dash-response {
  color: #333;
}

.dash-toggle,
.dash-use {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

.dash-use {
  border: 1px solid #cfd8dd; /* Added border to match the dash-box style */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
  bottom: 45px;
  right: 10px;
}

.dash-columns {
  display: flex;
  flex-wrap: wrap; /* Added for responsiveness */
  /* min-width: 260px; */

}

.dash-column {
  flex: 1;
  min-width: calc(25% - 20px); /* Added minimum width */
  margin-right: 20px;
}

.dash-toggle {
  position: absolute;
  top: 12px;
  right: 12px;
  background: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  width: 30px;
  height: 30px; /* fixed dimensions for circular shape */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
}

.dash-toggle.expanded {
  background: #eee;
  /* border: 4px solid #dfe4e8;  Slightly different border for expanded boxes */
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);   */
}

.dash-toggle:hover {
  background: #ddd;
}

.dash-toggle svg {
  width: 20px;
  height: 20px;
}

.dash-use {
  position: absolute;
  top: 12px;
  left: 15px;
  max-height: 30px;
  max-width: 140px;
  background: #f9f9f9;
  /* color: white; */
  color: #333;
  padding: 5px 10px; /* Reduced padding */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px; /* Reduced font size */
}

.dash-use:hover {
  background: #00bfb3;
}

.prompt-dash-box.expanded {
      height: 350px;
      overflow-y: auto; 
      transform: scale(1.4); 
      transition: height 0.3s ease, transform 0.3s ease;
      z-index: 2; 
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    } 

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.prompt-dash-box.expanded {
  height: 350px;
  animation: scaleUp 0.5s ease;
  border: 4px solid #f9f9f9; /* Added a different border color for expanded boxes */
}

.prompt-dash-box.collapsed {
  animation: scaleDown 0.5s ease;
}
  
    .prompt-dash-box.expanded::-webkit-scrollbar {
      width: 6px;
    }
    
    .prompt-dash-box.expanded::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;
    }
    
    .prompt-dash-box.expanded::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    

.dash-filter-wrapper {
    position: relative;
    display: inline-block;
    padding-left: 4px;
  }
  
  .dash-filter-select {
    padding: 8px 10px;
    padding-right: 30px; 

    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #ffffff;
    appearance: none; /* This removes the default styles for the dropdown in some browsers */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border 0.3s ease;
  }
  
  .dash-filter-select:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }
  
  .dash-filter-select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
  
  /* Custom dropdown arrow */
  .dash-filter-wrapper::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* so it doesn't interfere with the click event of select */
    color: #888;
  }

/* Mobile responsive view */
@media (max-width: 1400px) {
  .dash-column {
    min-width: calc(50% - 20px); /* Switch to 2 columns */
  }
}
