.account-main-container {
    display: flex;
}

.edit-account-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    max-width: 600px;
    /* margin: ; */
    font-family: Arial, sans-serif;
  }
  
  .edit-account-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .edit-account-label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .edit-account-info {
    font-size: 1rem;
    font-weight: bold; /* Heavier text */
    color: #333;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc; /* Border to make it box-like */
    border-radius: 5px;
    padding: 0.5rem;
    width: 350px;
    background-color: #d8d8d8;

  }

  
  .edit-account-input {
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
  }
  
  .edit-account-button {
    background-color: #4CAF50;
    color: white;
    padding: 0.7rem;
    margin: 1rem 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .edit-account-button:hover {
    background-color: #45a049;
  }
  
  .edit-account-backlink {
    margin-top: 1rem;
    color: #007bff;
    font-size: 1rem;
    margin-left: 7px;
  }

  .delete-account-button {
    /* background-color: #ff4d4d; Red color to signify caution */
    color: #ff4d4d;
    padding: 0.7rem;
    margin: .3rem 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;

    transition: background-color 0.3s ease; /* For a smooth color transition */
  }
  
  .delete-account-button:hover {
    background-color: #cc0000; /* A darker red for hover state */
  }

  .verify-password {
    background-color: #4CAF50;
    color: white;
    padding: 0.7rem;
    margin: 1rem 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    
  }
  
  /* Responsive Design */
  @media only screen and (max-width: 600px) {
    .edit-account-container {
      padding: 1rem;
    }
  
    .edit-account-title {
      font-size: 1.5rem;
    }
  }
  

.account-sidebar-wrapper {
    flex: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100vh; */
    background-color: #f4f4f4;
    padding: 40px;
    max-width: 350px;  /* Prevent it from getting too big */
    z-index: 1000; /* Optional: to ensure it stays on top of other content */
    box-shadow: #ffffff 0px 0px 10px 0px;
  }
  
  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
  }
  
  .sidebar-with-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(183, 214, 214);
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .sidebar-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(18, 18, 18);
    padding: 20px;
    color: #fff;
    border-radius: 25px;
  }
  
  @media (max-width: 1000px) {
    .sidebar {
      display: none;
    }
    .sidebar-wrapper {
      display: none;
    }}


.sidebar button {
    width: 100%;
    padding-top: 40px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: left;
    border-bottom: 1px solid #eee;
  }

  .account-dashboard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: pink
    
  }

  .account-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    /* width: 900px; You can change this */
    z-index: 1001; /* higher than other z-index values in your layout */


  }