.pricing-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.inside-pricing-container {
    display: flex;
}

h3 {
  display: flex;
  justify-content: left;
}

.pricing-box {
  flex: 1;
  border: 4px solid #A93F55; /* Thicker border */
  border-radius: 10px;
  padding: 30px; /* Increased padding to make it taller */
  margin: 10px 10px; /* 10px margin on all sides, making 20px between boxes */
  text-align: center;
  background-color: #ffffff;
  min-width: 220px; /* Increased minimum width */
  max-width: 340px; /* Increased maximum width */
  flex-basis: calc(33.333% - 20px); /* Default width, accounting for margin */
}

.price {
  display: flex;
  align-items: baseline;
}

.billing {
  font-size: 14px;
  margin-left: 5px;
}


.buy-button {
  background-color: #f2545b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  display: block;
  width: 100%; /* Full width */
}

ul {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0; /* Remove padding */
    text-align: left; /* Left-align text */
  }

li {
    padding: 8px 0; /* Add some padding */
    font-size: 14px; /* Increase the font-size */
}
  
  /* Style for the checkmark image */
  img {
    height: 16px;
    width: 16px;
    margin-right: 8px; /* Add some space between the image and text */
  }


/* Media query for smaller screens */
@media (max-width: 768px) {
  .pricing-container {
    flex-direction: column;
    align-items: stretch;
    margin: 20px 20px;
  }

  .inside-pricing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
}

  .pricing-box {
    flex-basis: auto; /* Reset to auto */
    width: 100%; /* Full width */
    margin: 10px 0; /* Adjust margin */
  }
}

